#global
HOST_URL=http://localhost:4001              #Deployed app url
PROJECT_ENV=docker                          #Can be used to check if environment is docker

#ci-cd
PROJECT_NAME=projectname
PROJECT_PATH=/arge
VOLUME_PATH=/volume
BRANCH_NAME=master
RUNNER_TAG=arge-server

COMPOSE_PROJECT_NAME=$PROJECT_NAME

#nginx
NGINX_PORT=4001                             #Nginx will be mapped to this port

#app
PUBLIC_URL=/                         #for React Router. Deployed subpath
REACT_APP_API_URL=${HOST_URL}/api           #Deployed api url

#postgres
POSTGRES_USER=user_test                          #postgres username
POSTGRES_PASSWORD=test_password_123              #postgres password

